mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    img.video-mixin__thumb(src=`${video.thumbUrl}`,crossorigin ,style='background-size:cover;background-position:center;')
    div.video-mixin__data
        span.video-mixin__title=video.title
        div.video-mixin__meta
            span #{video.owner.name} • 
            span #{video.meta.views} 회 
